In [1]:
#import the dependencies
import pandas as pd
import gmaps
import requests
#import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Narino,CO,2022-07-07 14:47:30,-3.7703,-70.3831,84.49,69,3,1.70
1,1,Upernavik,GL,2022-07-07 14:47:30,72.7868,-56.1549,38.55,88,77,14.32
2,2,Namatanai,PG,2022-07-07 14:47:31,-3.6667,152.4333,78.31,82,79,8.30
3,3,Arraial Do Cabo,BR,2022-07-07 14:46:06,-22.9661,-42.0278,82.36,47,0,10.36
4,4,Hermanus,ZA,2022-07-07 14:47:24,-34.4187,19.2345,59.81,81,89,6.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#heatmap of percent humidity
locations=city_data_df[['Lat','Lng']]
humidity=city_data_df['Humidity']
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#heatmap of percent cloudiness
locations=city_data_df[['Lat','Lng']]
clouds=city_data_df['Cloudiness']
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#heatmap of percent wind speed
locations=city_data_df[['Lat','Lng']]
wind_speed=city_data_df['Wind Speed']
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind_speed,dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#ask the customer to add min and max temp value
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
#filter the dataset to find the cities that fit the criteria
preferred_cities_df=city_data_df.loc[(city_data_df['Max Temp']<=max_temp)&(city_data_df['Max Temp']>=min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Narino,CO,2022-07-07 14:47:30,-3.7703,-70.3831,84.49,69,3,1.70
2,2,Namatanai,PG,2022-07-07 14:47:31,-3.6667,152.4333,78.31,82,79,8.30
3,3,Arraial Do Cabo,BR,2022-07-07 14:46:06,-22.9661,-42.0278,82.36,47,0,10.36
6,6,Padang,ID,2022-07-07 14:47:32,-0.9492,100.3543,78.67,86,11,3.42
9,9,Calabozo,VE,2022-07-07 14:47:33,8.9242,-67.4293,83.73,65,30,10.87
11,11,Bethel,US,2022-07-07 14:46:01,41.3712,-73.4140,77.86,71,100,5.75
12,12,Xique-Xique,BR,2022-07-07 14:47:34,-10.8218,-42.7263,83.03,45,2,12.82
20,20,Coahuayana,MX,2022-07-07 14:45:28,18.7333,-103.6833,80.10,80,100,1.88
21,21,Nchelenge,ZM,2022-07-07 14:47:37,-9.3451,28.7340,75.43,44,26,6.85
22,22,Kapaa,US,2022-07-07 14:44:31,22.0752,-159.3190,75.52,89,75,17.27

In [12]:
preferred_cities_df.count()

City_ID       230
City          230
Country       230
Date          230
Lat           230
Lng           230
Max Temp      230
Humidity      230
Cloudiness    230
Wind Speed    230
dtype: int64

In [13]:
hotel_df=preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name']=''
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0     Puerto Narino      CO     84.49  -3.7703  -70.3831
2         Namatanai      PG     78.31  -3.6667  152.4333
3   Arraial Do Cabo      BR     82.36 -22.9661  -42.0278
6            Padang      ID     78.67  -0.9492  100.3543
9          Calabozo      VE     83.73   8.9242  -67.4293
11           Bethel      US     77.86  41.3712  -73.4140
12      Xique-Xique      BR     83.03 -10.8218  -42.7263
20       Coahuayana      MX     80.10  18.7333 -103.6833
21        Nchelenge      ZM     75.43  -9.3451   28.7340
22            Kapaa      US     75.52  22.0752 -159.3190

In [18]:
#set parameters to search for a hotel
params={
    "radius":5000,
    'type':'lodging',
    'key':g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found....Skipping')

Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping
Hotel not found....Skipping

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Narino,CO,84.49,-3.7703,-70.3831,Eware Refugio Amazonico
2,Namatanai,PG,78.31,-3.6667,152.4333,Seagulls Inn Namatani
3,Arraial Do Cabo,BR,82.36,-22.9661,-42.0278,Pousada Porto Praia
6,Padang,ID,78.67,-0.9492,100.3543,Mercure Padang
9,Calabozo,VE,83.73,8.9242,-67.4293,Hotel Giardini
11,Bethel,US,77.86,41.3712,-73.4140,Courtyard by Marriott Danbury
12,Xique-Xique,BR,83.03,-10.8218,-42.7263,Hotel J. Macedo
20,Coahuayana,MX,80.10,18.7333,-103.6833,El rranchito michuacan de ocampos
21,Nchelenge,ZM,75.43,-9.3451,28.7340,KD Travellers Home
22,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))