## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Yellowknife,CA,62.4560,-114.3525,62.56,88,100,11.01,overcast clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,33.91,60,20,13.80,few clouds
2,2,Rikitea,PF,-23.1203,-134.9692,74.61,77,95,15.61,light rain
3,3,Bambous Virieux,MU,-20.3428,57.7575,68.22,57,92,22.19,overcast clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,29.86,80,100,19.57,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df=city_data_df.loc[(city_data_df['Max Temp']<=max_temp)&(city_data_df['Max Temp']>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
9,9,Barcelona,ES,41.3888,2.1590,88.14,69,0,9.22,clear sky
11,11,Kapaa,US,22.0752,-159.3190,80.58,85,75,12.66,broken clouds
16,16,Atuona,PF,-9.8000,-139.0333,77.36,79,27,20.33,light rain
17,17,Bengkulu,ID,-3.8004,102.2655,75.11,87,5,4.23,clear sky
18,18,Lorengau,PG,-2.0226,147.2712,81.70,77,88,10.40,overcast clouds
20,20,Bethel,US,41.3712,-73.4140,84.34,43,0,8.05,clear sky
26,26,Tecoanapa,MX,16.5167,-98.7500,85.93,73,51,10.31,broken clouds
29,29,Sabzevar,IR,36.2126,57.6819,80.91,17,25,17.49,scattered clouds
35,35,Puerto Escondido,MX,15.8500,-97.0667,86.83,58,40,8.05,scattered clouds
39,39,Ambon,ID,-3.6954,128.1814,78.94,15,20,5.75,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                222
City                   222
Country                222
Lat                    222
Lng                    222
Max Temp               222
Humidity               222
Cloudiness             222
Wind Speed             222
Weather Description    222
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df=city_data_df.loc[(city_data_df['Max Temp']<=max_temp)&(city_data_df['Max Temp']>=min_temp)].dropna()
hotel_df=preferred_cities_df.head(10)

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp","Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
9,Barcelona,ES,88.14,clear sky,41.3888,2.1590,
11,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,
16,Atuona,PF,77.36,light rain,-9.8000,-139.0333,
17,Bengkulu,ID,75.11,clear sky,-3.8004,102.2655,
18,Lorengau,PG,81.70,overcast clouds,-2.0226,147.2712,
20,Bethel,US,84.34,clear sky,41.3712,-73.4140,
26,Tecoanapa,MX,85.93,broken clouds,16.5167,-98.7500,
29,Sabzevar,IR,80.91,scattered clouds,36.2126,57.6819,
35,Puerto Escondido,MX,86.83,scattered clouds,15.8500,-97.0667,
39,Ambon,ID,78.94,few clouds,-3.6954,128.1814,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row['Lat']
    lng=row['Lng']
    params['location']=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels=requests.get(base_url,params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found...Skipping')

Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df[["City", "Country", "Max Temp","Weather Description", "Lat", "Lng","Hotel Name"]].copy()
hotel_df=hotel_df.loc[hotel_df['Hotel Name']!=""]
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
9,Barcelona,ES,88.14,clear sky,41.3888,2.1590,Axel Hotel Barcelona
11,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Atuona,PF,77.36,light rain,-9.8000,-139.0333,Villa Enata
17,Bengkulu,ID,75.11,clear sky,-3.8004,102.2655,Grage Hotel Bengkulu
18,Lorengau,PG,81.70,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
...,...,...,...,...,...,...,...
651,Napoleon,US,81.01,clear sky,41.3923,-84.1252,Holiday Inn & Suites
652,Nauta,PE,81.18,broken clouds,-4.5061,-73.5757,Amazon Exploring Expedition - Eretzen Tá Lodge
653,Hong Gai,VN,80.51,clear sky,20.9560,107.0946,Hạ Long DC Hotel
656,Nautla,MX,88.77,scattered clouds,20.2167,-96.7833,Casa Blanca
657,Ormara,PK,83.05,moderate rain,25.2088,64.6357,Kenara Colony House for Rent

In [10]:
# 8a. Create the output File (CSV)
output_data_file='WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label='City_ID')

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig= gmaps.figure(center=(30,31),zoom_level=1.5)
markers= gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)
plt.savefig("WeatherPy_vacation_map.png")
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))